/* Colors
---------------------------------------------------------------------- */
$body-font: #666666;
$yellow: #fff9ef;
$gold: #d0ab67;
$red: #c5090e;
$blue: #497fbc;
$blue-dark: #4a6491;
$white: #ffffff;
$border-color: #b7b7b7;

@import '_typography.scss';
@import '_shared.scss';
@import '_forms.scss';
@import '_trex_calc.scss';